Port 22
PermitRootLogin yes
MaxAuthTries 6
PubkeyAuthentication yes
PasswordAuthentication no
PermitEmptyPasswords no
ChallengeResponseAuthentication no
UsePAM yes
X11Forwarding no
PrintMotd no
Subsystem	sftp	/usr/lib/openssh/sftp-server
AcceptEnv LANG LC_*